# Require founder review on sensitive areas
/docs/*               @kaizencycle
/diagrams/*           @kaizencycle
/app/core/*           @kaizencycle
/packages/*           @kaizencycle
/.redaction/*         @kaizencycle
/policy/*             @kaizencycle
